ALTER TABLE public.tanks ADD COLUMN purpose text DEFAULT 'GENERAL' CHECK (purpose IN ('GENERAL', 'BROODSTOCK', 'MATING', 'SPAWNING'));
ALTER TABLE public.tanks ADD COLUMN male_capacity integer DEFAULT 0;
ALTER TABLE public.tanks ADD COLUMN female_capacity integer DEFAULT 0;
